<server-comp></server-comp>

<div class="container">
  <h2> {{title}}</h2>
</div>
<div class="container">
  <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
  >
  <br>
  <hr>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="hostName"
  >
  <p>{{ hostName }}</p>
  <br>
  <div class="container">
    <button class="btn btn-primary" [disabled]="!addNewServer">
      Add Server
    </button>
    <p>{{ addNewServer }}</p>
    <p [innerText]="addNewServer"></p>
  </div>
  <p>{{ serverName }}</p>
  <br>

</div>

<div class="container">
  <input type="text"
  class="form-control"
  [(ngModel)]="newName"
  >

  <button
  class="btn btn-secondary"
  [disabled]="allowNewName"
  (click)="onCreateNewName()"
  >Add new name</button>
  <p *ngIf="isNewNameCreated; else noNameCreated">New name was created {{ newName }}</p>
  <ng-template #noNameCreated>
    <p>
      No name was created
    </p>
  </ng-template>
</div>



